form(action='/pastes', method='POST', id='paste_form')
  textarea(id='paste_body',
    type='text',
    name='body',
    cols='80',
    rows='22',
    placeholder='Paste your code here',
    autofocus,
    required)=paste.body
  p
    input(type='submit', value='paste')

